<div class="container faq">
  <div class="title">
    <p>FAQ</p>
  </div>
  <hr>
  <div class="accordion">
    <ngb-accordion #acc="ngbAccordion" [closeOthers]="false" [destroyOnHide]="true">
      <ngb-panel id="static-1">
        <ng-template ngbPanelTitle>
          <span class="panel-title">What is TriPhan?</span>
        </ng-template>
        <ng-template ngbPanelContent>
          Ecommerce is a complex business.
        </ng-template>
      </ngb-panel>
      <ngb-panel id="static-2">
        <ng-template ngbPanelTitle>
          <span class="panel-title w-100">How can I contact you?</span>
        </ng-template>
        <ng-template ngbPanelContent>
          Source code can be found in <a href="https://github.com">my github page.</a>
          If you want to contact me you can mail me at vantriphan2105@gmail.com
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>
</div>
